/*
    Author: Hung & Connor
    Purpose: CSS styling file for index.html
*/

body {
    margin: 0px;
    background-image: url("/images/login_image.jpg");
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: xx-large;
}

a {
    font-size: large;
}

/* Tutor center image */
img#tutors {
    position: absolute;
    width: 65vw;
    height: 100vh;
}

/* UofA logo */
img#UofA {
    position: relative;
    width: 75%;
    height: 20%;
}

/* The right-panel includes logo and choosing student/tutor */
#login-display {
    position: absolute;
    width: 35vw;
    height: 100vh;
    right: 31.5vw;
    text-align: center;
    font-family: monospace;
    background-color: white;
}

#login-display>* {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Student and tutor button in the right panel */
input#student,
input#tutor {
    width: 150px;
    height: 150px;
    margin: 20px;
    padding: 2px;
    border: 2px solid;
    border-radius: 10px;
}

figcaption {
    font-size: 32px;
    font-weight: 500;
}

.leftFig, .rightFig {
    display: inline-block;
}

#img-underline {
    position: relative;
    bottom: 25px;
    word-spacing: 100px;
}

/* Zooming out effect when student/tutor button is hovered */
.zoom {
    transition: transform .2s;
}

.zoom:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

/* Login popup board for tutor login */
.popup .content {
    width: 370px;
    height: 455px;
    z-index: 2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%) scale(0);
    padding: 20px;
    border-radius: 20px;
    background: #262626;
    position: absolute;
}

h1 {
    font-weight: 600;
    padding-top: 20px;
    text-align: center;
    font-size: 38px;
    padding-bottom: 15px;
    color: lightgray;
}

.input-field .validate {
    border: none;
    margin-bottom: 15px;
    color: lightgray;
    background: #262626;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: inset 5px 5px 5px #232323,
        inset -5px -5px 5px #292929;
    outline: none;
    width: 280px;
}

/* sign-in-btn is the sign-in button at the bottom of the board */
.sign-in-btn {
    margin-top: 40px;
    padding: 20px 30px;
    border-radius: 40px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    background: #202020;
    box-shadow: 8px 8px 15px #202020,
        -8px -8px 15px #2c2c2c;
    transition: box-shadow .35s ease !important;
    outline: none;
}

.sign-in-btn:hover {
    cursor: pointer;
}

.sign-in-btn:active {
    background: linear-gradient(145deg, #222222, #292929);
    border: none;
    outline: none;
}

p {
    color: #bfc0c0;
    padding: 20px;
}

/* Popup board configuration */
.popup.active .content {
    transition: all 400ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.popup .close-btn {
    color: white;
    font-size: 26px;
    border-radius: 50%;
    background: red;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 28px;
    padding: 2px 5px 7px 5px;
    height: 28px;
    box-shadow: 5px 5px 15px #1e1e1e,
        -5px -5px 15px #1e1e1e;
}

.close-btn:hover {
    cursor: pointer;
}

/* Code for "welcome to the tutor center" animation */

.typewriter {
    overflow: scroll;
    white-space: nowrap;
    margin: 0 auto;
    animation:
        typing 2s steps(40, end),
        blink-caret .75s step-end infinite;
}

.typewriter::-webkit-scrollbar {
    display: none;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }
}