<h4>Edit Tutor</h4>
<div class="d-flex justify-content-center align-items-center" *ngIf="loading">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<ng-container *ngIf="user">
  <div class="alert alert-danger" *ngIf="error">
    {{ error }}
  </div>
  <form [formGroup]="requestForm" (ngSubmit)="onSubmit()" novalidate [ngClass]="{ 'was-validated': wasValidated }">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        class="form-control"
        id="name"
        aria-describedby="nameHelp"
        placeholder="Enter name"
        required
        formControlName="name"
        [ngClass]="{ 'is-valid': name?.valid }"
      />
      <div class="invalid-feedback" *ngIf="name?.invalid && (name?.dirty || name?.touched)">
        Please provide a valid name.
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        required
        formControlName="email"
        [ngClass]="{ 'is-valid': email?.valid }"
      />
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <div class="invalid-feedback" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
        Please provide a valid email.
      </div>
    </div>
    <div class="form-group">
      <label for="courses">What course do you want to tutor for?</label>
      <p>
        <small class="form-text text-muted"
          >Classes at the 100 level are required and excluded from this selection.</small
        >
      </p>
      <select
        class="form-control"
        id="courses"
        required
        formControlName="courses"
        [ngClass]="{ 'is-valid': course?.valid }"
        multiple
      >
        <option value="" selected disabled>No course selected</option>
        <option *ngFor="let courseItem of courses" [value]="courseItem._id" [disabled]="isLowerLevel(courseItem)">
          {{ courseItem.code }}
        </option>
      </select>
      <div class="invalid-feedback" *ngIf="course?.invalid && (course?.dirty || course?.touched)">
        Please provide a valid course.
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</ng-container>
