<h3>
  Tutors
  <a [routerLink]="['create']" class="btn btn-default text-sm float-right">Create a Tutor</a>
</h3>
<p class="text-muted">This list shows all tutors in the database.</p>
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th class="w-100">Courses</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="isLoading; else requestDisplay" class="w-100">
      <td colspan="100">
        <div class="d-flex justify-content-center align-items-center">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </td>
    </tr>
    <ng-template #requestDisplay>
      <ng-container *ngIf="tutors.length; else empty">
        <tr *ngFor="let tutor of tutors">
          <td>{{ tutor.email }}</td>
          <td class="text-nowrap">{{ tutor.name }}</td>
          <td>{{ getCoursesString(tutor.courses) }}</td>
          <td>
            <button class="btn btn-primary" (click)="edit(tutor)">Edit</button>
            <button class="btn btn-default" (click)="resetPassword(tutor.email)">Reset Password</button>
          </td>
        </tr>
      </ng-container>
      <ng-template #empty>
        <tr class="w-100">
          <td colspan="100">
            <div class="d-flex justify-content-center align-items-center">
              <p>No items to show.</p>
            </div>
          </td>
        </tr>
      </ng-template>
    </ng-template>
  </tbody>
</table>
