<h3>Create a Tutor</h3>
<div class="alert alert-danger" *ngIf="error">
  {{ error }}
</div>
<form [formGroup]="requestForm" (ngSubmit)="onSubmit()" novalidate [ngClass]="{ 'was-validated': wasValidated }">
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Enter password" required
      formControlName="password" [ngClass]="{ 'is-valid': password?.valid }" />
  </div>
  <div class="form-group">
    <label for="re_password">Confirm Password</label>
    <input type="password" class="form-control" id="re_password" placeholder="Re-enter password" required
      formControlName="re_password" [ngClass]="{ 'is-valid': re_password?.valid }" />
    <div class="invalid-feedback" *ngIf="re_password?.invalid && (re_password?.dirty || re_password?.touched)">
      Passwords don't match.
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
