<div class="dropdown h-100" *ngIf="user; else login">
  <a
    class="nav-link dropdown-toggle d-flex align-items-center h-100"
    href="#"
    id="dropdownMenuButton"
    role="button"
    data-toggle="dropdown"
    aria-expanded="false"
  >
    <img src="/assets/avatar.jpeg" class="rounded-circle" height="35" alt="Avatar" loading="lazy" />
  </a>
  <div
    class="dropdown-menu dropdown-menu-right dropdown-menu-sm-left"
    aria-labelledby="dropdownMenuButton"
    data-placement="bottom-center"
  >
    <a class="dropdown-item" [routerLink]="['/me']" [routerLinkActive]="'d-none'">View Profile</a>
    <a class="dropdown-item" [routerLink]="['/tutor']" [routerLinkActive]="'d-none'">Go to Tutor Dashboard</a>
    <a *ngIf="user.is_coord" class="dropdown-item" [routerLink]="['/coord']" [routerLinkActive]="'d-none'"
      >Go to Coord Dashboard</a
    >
    <button class="dropdown-item" (click)="logout()">Logout</button>
  </div>
</div>
<ng-template #login>
  <a class="btn btn-default" [routerLink]="['/login']" routerLinkActive="d-none">Login</a>
</ng-template>
