{% load i18n %}

{% block subject %}
{% blocktrans %}Password reset for the UofA Tutor Center{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}
You're receiving this email because you requested a password reset for your UofA Tutor Center user account.
{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
"{{ url|safe }}"

{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% endblock text_body %}

{% block html_body %}
<p>
    {% blocktrans %}
    You're receiving this email because you requested a password reset for your user account at
    UofA Tutor Center.
    {% endblocktrans %}
</p>

<p>{% trans "Please go to the following page and choose a new password:" %}</p>
<a href="{{ url|safe }}">{{ url|safe }}</a>
<p>{% trans "Your username, in case you've forgotten:" %} <b>{{ user.get_username }}</b></p>

<p>{% trans "Thanks for using our site!" %}</p>
{% endblock html_body %}
